<?xml version="1.0"?> 
<configuration>
	<connectionStrings>
		<add name="DBConn" connectionString="Data Source=DESKTOP-8BL3MIG\\SQLEXPRESS;Initial Catalog=CustomerDB;Integrated
Security=True;Pooling=False"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	
</configuration>